@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Roboto', sans-serif;
}

.a{
  margin: auto;
  border-radius: 1rem;
  text-align: center;
  cursor: pointer;
  width: 25%;
  height: auto;
  font-size: large;
}

.a:hover{
  background-color: gray;
}