@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Roboto', sans-serif;
}

button{
  margin: 5px;
  border-radius: 1rem;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  height: 40px;
  font-size: large;
  border: 1px solid;
}

.a{
  margin: auto;
  border-radius: 1rem;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  width: 25%;
  height: 40px;
  font-size: large;
  border: 1px solid hidden;
}

.a:hover{
  border: 1px solid;
  line-height: 38px;
}